header {
    height: 50px;
    background-image: linear-gradient(to right, #1d5993, #22955e);
    width: 100%;
    color: white;
    text-align: center;
}

#content {
    margin-left: 30px;
    margin-right: 30px;
}

/* Sticky footer */
.wrapper {
    min-height: calc(100vh - 50px);
}

.header-container {
    line-height: 50px;
    font-weight: bold;
    font-size: 24px;
}

html {
    height: 100%;
    font-family: 'Trebuchet MS';
}

main {
    max-width: 1200px;
    margin: 20px auto 20px auto;
}

footer {
    height: 50px;
    text-align: center;
    background-color: #eeeeee;
    width: 100%;
    border-top: 1px solid #cccccc;
}

.footer-container {
    line-height: 50px;
}

/*
 * Search
 */
#search-container {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 30px;
}

#search-bar {
    
    height: 100%;
    margin-right: 15px;
}

#search-button {
    border: solid 1px #22955e;
    background: #22955e;
}

/*
 * Results
 */ 

 #search-result-container, #favourites-container {
     display: grid;
     grid-template-columns: auto auto;
     grid-gap: 5px;
 }

 #search-result-container div, #favourites-container div {
     background: rgb(245, 245, 245);
     border-radius: 10px;
     padding: 10px;
 }

 h2 {
     font-weight: bold;
     color: #22955e;
 }

 .product-title button {
     outline: none;
     background: transparent;
     border: none;
 }

.product-title button:not(.favourite) {
    color: lightgray;
}

.product-title button:not(.favourite):hover {
    color: #4f8f70;
}

.favourite {
    color: #22955e;
}

.favourite:hover {
    color: rgb(131, 131, 131);
}